<div [class]="getClassWrapper()">
  <label
    [for]="this.name"
    class="capitalize text-sm font-medium text-slate-700 max-w-fit"
    >{{ this.name.replace("-", " ") }}</label
  >
  <input
    [type]="type"
    [id]="name"
    [placeholder]="placeholder"
    [class]="getInputClass()"
    autocomplete="off"
    required
    *ngIf="!value"
  />
  <input
    [type]="type"
    [id]="name"
    [placeholder]="placeholder"
    [class]="getInputClass()"
    autocomplete="off"
    required
    *ngIf="value"
    value="{{ value }}"
  />
</div>
