<form
  class="flex flex-col gap-2 xl:gap-4 mt-5 lg:mt-3 xl:mt-5 w-full lg:max-w-[17.5rem] mx-auto"
  (submit)="onSubmit($event)"
>
  <p
    *ngIf="this.authUtils.error"
    class="bg-red-200 py-1 text-center rounded-sm"
  >
    <i class="text-slate-800 text-sm text-center"
      >Incorrect username or password.</i
    >
  </p>
  <Input-form name="email" type="text" placeholder="example@gmail.com" />
  <Input-form name="password" type="password" placeholder="******" />
  <button
    [disabled]="this.authUtils.disabled"
    type="submit"
    class="mt-4 bg-blue-600 py-1.5 text-sm text-white rounded-md"
  >
    <span *ngIf="!this.authUtils.loading">Login</span>
    <span *ngIf="this.authUtils.loading">Processing...</span>
  </button>
  <a
    class="cursor-pointer hover:underline place-self-end font-light text-xs text-slate-800 mt-1"
    >Did you forget your password?</a
  >
</form>
