<header
  class="fixed bottom-0 px-7 min-w-full bg-blue-600 flex justify-between items-center box-border z-50 md:hidden"
>
  <app-navbar-link iconSrc="./assets/icons/users.svg" linkTitle="Profile" />
  <app-navbar-link
    [classLink]="[
      'py-2',
      'px-3',
      'bg-blue-700',
      'shadow-inner',
      'rounded-full',
      '-translate-y-5'
    ]"
    linkTitle="Home"
    iconSrc="./assets/icons/home.svg"
  />
  <app-navbar-link
    iconSrc="./assets/icons/hamburgerwhite.svg"
    linkTitle="Menu"
    [classLink]="['mt-1', 'gap-y-1.5']"
  />
</header>
