<form
  class="flex flex-col gap-2 xl:gap-4 mt-5 lg:mt-3 xl:mt-5 w-full lg:max-w-[17.5rem] mx-auto"
  (submit)="submit($event)"
>
  <p
    *ngIf="this.authUtils.error"
    class="bg-red-200 py-1 text-center rounded-sm"
  >
    <i class="text-slate-800 text-sm text-center">{{ this.errorText }}</i>
  </p>
  <Input-form [name]="name1" [type]="type1" placeholder="example@gmail.com" />
  <Input-form [name]="name2" [type]="type2" placeholder="******" />
  <button
    [disabled]="this.authUtils.disabled"
    type="submit"
    class="mt-4 bg-blue-600 py-1.5 text-sm text-white rounded-md"
  >
    <span *ngIf="!this.authUtils.loading">{{ this.titleButton }}</span>
    <span *ngIf="this.authUtils.loading">Processing...</span>
  </button>
</form>
