<h1 class="text-lg mb-7 font-medium my-2.5 mt-8 text-blue-600">PENDIDIKAN</h1>
<div class="flex flex-col gap-y-2.5">
  <app-input-dropdown
    [name]="this.employeeUtil.data.nameInput.name12"
    [options]="this.employeeUtil.data.dataOptionForm.pendidikanAkhir"
  />
  <Input-form
    [classname]="['sm:flex-row', 'sm:mb-5']"
    [classInput]="['sm:w-[24rem]', 'lg:w-[30rem]']"
    [name]="this.employeeUtil.data.nameInput.name13"
    type="text"
    placeholder="Type here..."
  />
  <Input-form
    [classname]="['sm:flex-row', 'sm:mb-5']"
    [classInput]="['sm:w-[24rem]', 'lg:w-[30rem]']"
    [name]="this.employeeUtil.data.nameInput.name14"
    type="text"
    placeholder="Type here..."
  />
</div>
